body {
    background-image: url("../fondo.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 15%;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.big-number {
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;
    border-radius: 20px;
    border: 2px solid;
    padding: 15px;
}